[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "lucius"]
	path = lucius
	url = https://github.com/jonathanfilip/lucius
[submodule "iterm2-config"]
	path = iterm2-config
	url = https://github.com/jigish/iterm2-config
[submodule "vim-config"]
	path = vim-config
	url = https://github.com/jigish/vim-config
[submodule "irssi/scripts/slack"]
	path = irssi/scripts/slack
	url = https://github.com/tedski/slack-irssi
