* {
    font-family: SF Pro Text, InputMonoCondensed Nerd Font, FontAwesome, Roboto, Arial, sans-serif;
    font-weight: 200;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    color: #ECEFF4;
    /*transition-property: background-color;*/
    /*transition-duration: .5s;*/
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ECEFF4;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: transparent;
    border-bottom: 1px inset #ECEFF4;
    /*box-shadow: inset 0 -3px #ECEFF4;*/
}

#workspaces button.urgent {
    background-color: transparent;
    border-bottom: 1px inset #BF616A;
    /*box-shadow: inset 0 -3px #BF616A;*/
}
