* {
    font-family: InputMonoCondensed Nerd Font Thin;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    color: #ECEFF4;
    transition-property: background-color;
    transition-duration: .5s;
}
